
        #main-navigation {
            height: 30px;
            background: #faf7f7;
            border-top: 1px solid #cfcaca;
            box-shadow: 1px 3px 3px rgba(34, 25, 25, 0.4);
        }

        #main-navigation > ul {
            overflow:hidden;
            text-align: center;
        }

        #main-navigation > ul > li {
            display: inline;

            padding: 0 5px;

            line-height: 30px;
            font-size: 13px;
            color: #524D4D;
            text-shadow: 0 1px 1px white;
        }

        #main-navigation > ul > li:hover { 
            background: #E1DFDF;
            border-radius: 2px;
        }